# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List three data science tools
- Give examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Phython
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Matplotlib
4. Pandas
5. Seaborn


|Data Science Tools|
|-------------------|
|Jupyter|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [23]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [24]:
200/60

3.3333333333333335

## Author

Tanesha Leslie